In [259]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [302]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [303]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [304]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [305]:
df.drop("id", axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [306]:
df["ever_married"].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [307]:
df["work_type"].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [308]:
df["Residence_type"].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [309]:
df["smoking_status"].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [310]:
df.groupby("stroke").mean(numeric_only=True)

              age  hypertension  heart_disease  avg_glucose_level        bmi
stroke
0       41.971545      0.088871       0.047110         104.795513  28.823064
1       67.728193      0.265060       0.188755         132.544739  30.471292

In [311]:
df.isnull().sum().sort_values(ascending=False)

bmi                  201
stroke                 0
smoking_status         0
avg_glucose_level      0
Residence_type         0
work_type              0
ever_married           0
heart_disease          0
hypertension           0
age                    0
gender                 0
dtype: int64

In [313]:
df.groupby("gender")["bmi"].transform("mean")

0       28.647936
1       29.065758
2       28.647936
3       29.065758
4       29.065758
          ...
5105    29.065758
5106    29.065758
5107    29.065758
5108    28.647936
5109    29.065758
Name: bmi, Length: 5110, dtype: float64

In [314]:
df["bmi"].fillna(df.groupby("gender")["bmi"].transform("mean"), inplace=True)
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [315]:
df = pd.get_dummies(data=df, dtype=int, columns=["gender", "ever_married", "work_type", "Residence_type", "smoking_status" ])
df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.600000,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1,61.0,0,0,202.21,29.065758,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,80.0,0,1,105.92,32.500000,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.400000,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.000000,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,83.75,29.065758,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
5106,81.0,0,0,125.20,40.000000,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
5107,35.0,0,0,82.99,30.600000,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.600000,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
5109,44.0,0,0,85.28,26.200000,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [316]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             5110 non-null   float64
 1   hypertension                    5110 non-null   int64
 2   heart_disease                   5110 non-null   int64
 3   avg_glucose_level               5110 non-null   float64
 4   bmi                             5110 non-null   float64
 5   stroke                          5110 non-null   int64
 6   gender_Female                   5110 non-null   int64
 7   gender_Male                     5110 non-null   int64
 8   gender_Other                    5110 non-null   int64
 9   ever_married_No                 5110 non-null   int64
 10  ever_married_Yes                5110 non-null   int64
 11  work_type_Govt_job              5110 non-null   int64
 12  work_type_Never_worked          5110 non-null   int64
 13  work_type_Private               5110 non-null   int64
 14  work_type_Self-employed         5110 non-null   int64
 15  work_type_children              5110 non-null   int64
 16  Residence_type_Rural            5110 non-null   int64
 17  Residence_type_Urban            5110 non-null   int64
 18  smoking_status_Unknown          5110 non-null   int64
 19  smoking_status_formerly smoked  5110 non-null   int64
 20  smoking_status_never smoked     5110 non-null   int64
 21  smoking_status_smokes           5110 non-null   int64
dtypes: float64(3), int64(19)
memory usage: 878.4 KB

In [317]:
df.drop(["ever_married_No","Residence_type_Rural"], axis=1, inplace=True)
df.corr()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
age,1.000000,0.276398,0.263796,0.238171,0.325908,0.245257,0.027924,-0.027623,-0.010659,0.679125,0.130013,-0.078653,0.116534,0.327989,-0.634215,0.014180,-0.378231,0.236897,0.119307,0.073133
hypertension,0.276398,1.000000,0.108306,0.174474,0.160167,0.127904,-0.021143,0.021275,-0.004597,0.164243,0.017685,-0.021608,-0.005413,0.115442,-0.129506,-0.007913,-0.141501,0.058853,0.065063,0.031240
heart_disease,0.263796,0.108306,1.000000,0.161857,0.038652,0.134914,-0.085617,0.085717,-0.003343,0.114644,0.001330,-0.015712,0.000027,0.086760,-0.091634,0.003092,-0.066731,0.066804,-0.021856,0.044049
avg_glucose_level,0.238171,0.174474,0.161857,1.000000,0.168626,0.131945,-0.054902,0.054580,0.011489,0.155068,0.013845,-0.014675,0.016588,0.062694,-0.102250,-0.004946,-0.095131,0.068111,0.023885,0.017646
bmi,0.325908,0.160167,0.038652,0.168626,1.000000,0.038874,0.026926,-0.026593,-0.011799,0.335573,0.077999,-0.028584,0.203754,0.070952,-0.442854,-0.000068,-0.265055,0.104099,0.106445,0.085569
stroke,0.245257,0.127904,0.134914,0.131945,0.038874,1.000000,-0.009027,0.009117,-0.003166,0.108340,0.002677,-0.014882,0.011888,0.062168,-0.083869,0.015458,-0.055892,0.064556,-0.004129,0.008939
gender_Female,0.027924,-0.021143,-0.085617,-0.054902,0.026926,-0.009027,1.000000,-0.999597,-0.016642,0.030483,0.016685,-0.011469,0.032294,0.026143,-0.089120,0.006340,-0.059393,-0.043603,0.099111,-0.011306
gender_Male,-0.027623,0.021275,0.085717,0.054580,-0.026593,0.009117,-0.999597,1.000000,-0.011757,-0.029936,-0.016534,0.011496,-0.032639,-0.025971,0.089283,-0.005937,0.059658,0.042738,-0.098813,0.011477
gender_Other,-0.010659,-0.004597,-0.003343,0.011489,-0.011799,-0.003166,-0.016642,-0.011757,1.000000,-0.019327,-0.005374,-0.000920,0.012092,-0.006112,-0.005514,-0.014217,-0.009206,0.030568,-0.010728,-0.005978
ever_married_Yes,0.679125,0.164243,0.114644,0.155068,0.335573,0.108340,0.030483,-0.029936,-0.019327,1.000000,0.134041,-0.090838,0.153830,0.192716,-0.544441,0.006261,-0.332081,0.171256,0.102845,0.105226
work_type_Govt_job,0.130013,0.017685,0.001330,0.013845,0.077999,0.002677,0.016685,-0.016534,-0.005374,0.134041,1.000000,-0.025258,-0.444420,-0.167810,-0.151383,0.013131,-0.097418,0.029686,0.046908,0.030026
work_type_Never_worked,-0.078653,-0.021608,-0.015712,-0.014675,-0.028584,-0.014882,-0.011469,0.011496,-0.000920,-0.090838,-0.025258,1.000000,-0.076081,-0.028728,-0.025915,0.022859,0.008804,-0.030095,0.036238,-0.028099
work_type_Private,0.116534,-0.005413,0.000027,0.016588,0.203754,0.011888,0.032294,-0.032639,0.012092,0.153830,-0.444420,-0.076081,1.000000,-0.505475,-0.455992,-0.018173,-0.210013,0.025526,0.104860,0.100025
work_type_Self-employed,0.327989,0.115442,0.086760,0.062694,0.070952,0.062168,0.026143,-0.025971,-0.006112,0.192716,-0.167810,-0.028728,-0.505475,1.000000,-0.172180,0.010594,-0.106250,0.093260,0.030668,-0.003626
work_type_children,-0.634215,-0.129506,-0.091634,-0.102250,-0.442854,-0.083869,-0.089120,0.089283,-0.005514,-0.544441,-0.151383,-0.025915,-0.455992,-0.172180,1.000000,-0.002309,0.512743,-0.160668,-0.238041,-0.165234
Residence_type_Urban,0.014180,-0.007913,0.003092,-0.004946,-0.000068,0.015458,0.006340,-0.005937,-0.014217,0.006261,0.013131,0.022859,-0.018173,0.010594,-0.002309,1.000000,-0.002036,0.007654,-0.024466,0.027266
smoking_status_Unknown,-0.378231,-0.141501,-0.066731,-0.095131,-0.265055,-0.055892,-0.059393,0.059658,-0.009206,-0.332081,-0.097418,0.008804,-0.210013,-0.106250,0.512743,-0.002036,1.000000,-0.301156,-0.504546,-0.281177
smoking_status_formerly smoked,0.236897,0.058853,0.066804,0.068111,0.104099,0.064556,-0.043603,0.042738,0.030568,0.171256,0.029686,-0.030095,0.025526,0.093260,-0.160668,0.007654,-0.301156,1.000000,-0.350934,-0.195571
smoking_status_never smoked,0.119307,0.065063,-0.021856,0.023885,0.106445,-0.004129,0.099111,-0.098813,-0.010728,0.102845,0.046908,0.036238,0.104860,0.030668,-0.238041,-0.024466,-0.504546,-0.350934,1.000000,-0.327653
smoking_status_smokes,0.073133,0.031240,0.044049,0.017646,0.085569,0.008939,-0.011306,0.011477,-0.005978,0.105226,0.030026,-0.028099,0.100025,-0.003626,-0.165234,0.027266,-0.281177,-0.195571,-0.327653,1.000000

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object':
        df[col]=le.fit_transform(df[col]) 
df

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
for col_name in df.columns:
    if df[col_name].nunique() > 5: 
        df[col_name] = scaler.fit_transform(df[[col_name]])
df

In [318]:
X = df.drop("stroke", axis=1)
y = df['stroke']

In [319]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# LogisticRegression

In [320]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=900)
lr.fit(X_train, y_train)

LogisticRegression(max_iter=900)

In [321]:
predictions = lr.predict(X_test)
predictions

array([0, 0, 0, ..., 0, 0, 0])

from sklearn.metrics import accuracy_score
accuracy_using_decision_tree = round(accuracy_score(y_test, predictions)*100, 2)
print("Model accuracy using Decision Tree: ", accuracy_using_decision_tree, "%")

In [322]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score

print("Accuracy:", accuracy_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))

Accuracy: 0.9425962165688193
Recall: 0.011235955056179775
Precision: 1.0

In [323]:
pd.DataFrame(confusion_matrix(y_test, predictions),
            columns = ['Predicted Not Stroke', 'Predicted Stroke'],
             index = ['True not Stroke', 'True Stroke']
            )

                 Predicted Not Stroke  Predicted Stroke
True not Stroke                  1444                 0
True Stroke                        88                 1

# DecisionTreeClassifier

In [324]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [325]:
df.drop("id", axis=1, inplace=True)
df["bmi"].fillna(df.groupby("gender")["bmi"].transform("mean"), inplace=True)
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [326]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object':
        df[col]=le.fit_transform(df[col]) 
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,3,0,202.21,29.065758,2,1
2,1,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,0,79.0,1,0,1,3,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,2,1,83.75,29.065758,2,0
5106,0,81.0,0,0,1,3,1,125.20,40.000000,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.600000,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.600000,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.200000,0,0

In [334]:
from sklearn.preprocessing import MinMaxScaler
scal = MinMaxScaler()
for col_name in df.columns:
    if df[col_name].nunique() > 5: 
        df[col_name] = scal.fit_transform(df[[col_name]])
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,0.816895,0,1,1,2,1,0.801265,0.301260,1,1
1,0,0.743652,0,0,1,3,0,0.679023,0.214957,2,1
2,1,0.975586,0,1,1,2,0,0.234512,0.254296,2,1
3,0,0.597168,0,0,1,2,1,0.536008,0.276060,3,1
4,0,0.963379,1,0,1,3,0,0.549349,0.156930,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,0,0.975586,1,0,1,2,1,0.132167,0.214957,2,0
5106,0,0.987793,0,0,1,3,1,0.323516,0.340206,2,0
5107,0,0.426270,0,0,1,3,0,0.128658,0.232532,2,0
5108,1,0.621582,0,0,1,2,0,0.513203,0.175258,1,0
5109,0,0.536133,0,0,1,0,1,0.139230,0.182131,0,0

In [335]:
X = df.drop("stroke", axis=1)
y = df['stroke']

In [336]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [337]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [338]:
predictions = dt.predict(X_test)
predictions

array([0, 0, 0, ..., 0, 0, 0])

In [339]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score

print("Accuracy:", accuracy_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))

Accuracy: 0.9028049575994781
Recall: 0.19101123595505617
Precision: 0.18085106382978725

In [340]:
pd.DataFrame(confusion_matrix(y_test, predictions),
            columns = ['Predicted Not Stroke', 'Predicted Stroke'],
             index = ['True not Stroke', 'True Stroke']
            )

                 Predicted Not Stroke  Predicted Stroke
True not Stroke                  1367                77
True Stroke                        72                17